<header>
  <h1>✨Amazed✨</h1>
  <nav>
    <a>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <ul>
      <li><a href="#daily">Daily</a></li>
      <li><a href="#authors">Authors</a></li>
      <li><a href="#all">All</a></li>
    </ul>
  </nav>
</header>