{{>header}}
<main>
  <section id="daily">
    <h2>Daily quote</h2>
    <q>{{dailyQuote.quote}}</q>
    <button><img src="../static/images/refresh.png" /></button>
  </section>

  <section id="authors">
    <h2>Famous Authors</h2>
    <ul>
      {{#each filter}}
      <li> 
      <a href=/detail/{{this.author_link}}> 
        <img src="../static/images/person.png"> 
        <p>{{this.author}}</p> 
      </a> 
      </li>
      {{/each}}
    </ul>
  </section>

  <section id="all">
    <h2>All quotes</h2>
    <a href="/a-z" id="az">a-z</a>
    <ul>
      {{#each filterquote}}
       <li> <q>{{this.quote}}</q> </li>
      {{/each}}
    </ul>
  </section>
</main>
{{>footer}}