/*************/
/* CSS RESET */
/*************/

/*naar een idee van Jen Simmons*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:not([disabled]) {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --headings: rgb(22, 23, 25);
  --links: rgb(116, 5, 60);
  --white: rgb(250, 245, 235);
  --background-green: rgb(185, 219, 213);
}

/**************/
/*** BASICS ***/
/**************/
html {
  background-color: hotpink;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
h2 {
  font-size: 1.7em;
  padding-top: 2.5em;
  margin-bottom: 3em;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 80vw;
}
p,
q,
a {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
li {
  list-style-type: none;
}

/**************/
/*** HEADER ***/
/**************/
header {
  position: sticky;
  top: 0;
  background-color: var(--background-green);
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  box-shadow: 0.08em 0em 1em 0.1em rgb(102, 152, 152);
}
h1 {
  grid-column: 2;
  justify-self: center;
}

/*de nav*/
header nav {
  justify-self: right;
  margin-right: 1.5em;
  align-self: center;
}
header nav ul {
  background-color: var(--white);
  top: -5em;
  right: -5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 25em;
  aspect-ratio: 1/1;

  margin: 0;
  padding: 6em 6em 0em 0em;
  border-radius: 16em;

  transform: translateX(100vw);
  position: fixed;
  z-index: 0;
  transition: ease-in-out 0.2s;
  box-shadow: 0.08em 0em 1em 0.1em rgb(102, 152, 152);
}
header nav.open ul {
  transform: translateX(0vw);
  transition: ease-in-out 0.2s;
}
header nav ul li {
  margin-bottom: 1.5em;
}
header nav ul li a {
  color: var(--headings);
  text-decoration: underline;
}

/*hamburger knopje*/
header nav > a {
  width: 2.4em;
  height: 1.8em;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
header nav span {
  display: block;
  background-color: var(--headings);
  width: 2.4em;
  height: 0.2em;

  border-radius: 0.5em;
  z-index: 1;
}

/*hamburger knopje open*/
nav.open span:first-of-type {
  transform: rotate(45deg);
  transform-origin: top left;
  transition: ease-in 0.25s;
}
nav.open span:nth-last-of-type(2) {
  display: none;
}
nav.open span:last-of-type {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  transition: ease-in 0.25s;
}

/**************/
/*** FOOTER ***/
/**************/
footer {
  color: var(--background-green);
  background-color: var(--headings);

  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: 0;
}

/************/
/*** MAIN ***/
/************/
main {
  background-color: var(--background-green);

  width: 100vw;
}

/*Daily quote*/
/*************/
section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70dvh;
}
section:first-of-type h2 {
  margin-top: 0;
}

/*the quote itself*/
section:first-of-type q {
  font-size: 1.3em;
  width: 15em;
  text-align: center;
  line-height: 1.5em;
}

/*the refreshing button*/
section:first-of-type button {
  margin-top: 3em;
  margin-bottom: 5em;
  border: none;
  background-color: transparent;
}
section:first-of-type button:focus {
  /* transform: rotate(180deg); */
  animation: rotate 0.6s linear 1;
}
section:first-of-type button img {
  width: 2em;

  aspect-ratio: 1/1;
}

/*Our authors*/
/*************/
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*list of authors*/
section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow-x: scroll;
  width: 80vw;

  padding: 0;
}
section:nth-of-type(2) ul li {
  margin-right: 2em;
}
section:nth-of-type(2) ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1.5em 0.5em 1.5em;

  width: 7em;
  height: 8em;

  background-color: var(--white);
  color: var(--headings);

  border: none;
  border-radius: 1em;
  box-shadow: 0.08em 0em 0.08em 0.07em rgba(102, 152, 152, 0.642);
}
section:nth-of-type(2) ul li a:focus {
  filter: invert(1);
  background-color: rgb(233, 232, 230);
  color: rgb(70, 36, 42);
}
section:nth-of-type(2) ul a img {
  width: 4.5em;
  aspect-ratio: 1/1;
}
section:nth-of-type(2) ul a p {
  margin: 0;
  font-size: 0.9em;
}

/*their quotes*/
section:nth-of-type(2) q {
  width: 80vw;

  color: var(--background-green);
  background-color: var(--headings);

  border-radius: 1em;
  padding: 0.8em;
}

/*All quotes*/
/************/
section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0;
}
section:last-of-type h2 {
  margin-bottom: 1em;
  margin-top: 3em;
}

/*sorteerknopje*/
section:last-of-type a {
  margin-right: 8em;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1.5em 0.5em 1.5em;

  background-color: var(--white);
  color: var(--headings);
  box-shadow: 0.08em 0em 1em 0.1em rgb(102, 152, 152);
}
section:last-of-type a:focus {
  background-color: var(--headings);
  color: var(--white);
}

/*alle quotes*/
section:last-of-type ul:last-of-type {
  padding-left: 0;
  margin-bottom: 5em;
  margin-top: 2.5em;
  display: grid;
  width: 80vw;
  justify-items: center;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;
}
section:last-of-type ul:last-of-type li {
  background-color: var(--headings);
  width: 38vw;

  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:last-of-type ul:last-of-type q {
  color: var(--background-green);
  padding: 0.5em;
}

/***********/
/*animaties*/
/***********/

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/***************/
/*media queries*/
/***************/

@media (min-width: 950px) {
  header nav {
    align-items: center;
  }
  header nav ul {
    background: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 4em;
    margin-top: 1.5em;
    margin-right: 2em;
    width: 15em;
    padding: 0;

    transform: translateX(0vw);
    position: unset;
    box-shadow: none;
  }
  header nav > a {
    display: none;
  }
}
